*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;;
}

.main-block{
    height: 100vh;
    background-color: green;
}
/* HEADER */
header{
    position: fixed;
    width: 100%;
    z-index: 3;
    
                                    background-color: white;
}
.small-logo{
    width: 63px;
}
.big-logo{
    width: 200px;
}
.bgcolor-input{
    background-color: rgba(229,229,229,255);
}

/* PRIMA MACROAREE DA DIVIDERE IN DUE BLOCCHI */
.main-content{
    display: flex;
    height: 100%;
}
/* PRIMO BLOCCO, SIDEBAR */
.sidebar{
    width: 50px;
    overflow: hidden;
    background-color: rgba(5,30,52,255);
    background-image:url(../img/sidebar-bg.png);
}
.container-sidebar, .row-sidebar-piccola, .row-sidebar-grande{
    height: 100%;
}

.row-sidebar-piccola {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px 0px;
	text-align: center;
}
.column-sidebar-top-piccola{
    padding-top: 10px;
}
.column-sidebar-bottom-piccola, .column-sidebar-bottom-grande{
    padding-bottom: 50px;
}
.row-sidebar-grande{
    flex-direction: column;
    justify-content: space-between;
}
.list-sidebar-grande{
	padding: 5px 5px;
	font-size: 14px;
	list-style: none;
}
.list-sidebar-grande:hover, .list-bottom:hover {
    background-color: rgba(255, 255, 255, 0.433);
    cursor: pointer;
    filter: invert(0%);
}
.list-bottom{
    list-style: none;
    
}
/* CENTER */
.center{
    width: 100vw ;
    overflow-y: auto;
    background-color: rgba(248,249,250,255);
}

.margin-top-75{
    margin-top: 52px;
    overflow: hidden;
}
.bgcolor-azzurro{
    background-color: rgba(27,114,232,255);                           
}
.plus{
    padding: 6px 10px;
    border: 1px solid white;
    border-radius: 5px;
}
.plus:hover{
    background-color: white;
    color: rgba(27,114,232,255);
}
.bg-blue{
    background-color: rgba(22,91,186,255);
}
/* PROSSIME CLASSI */
.dimensioni-img{
    width: 25px;
    
}
td{
    vertical-align: middle;
}

.font-size{
    font-size: 12px;
}

/* OFFCANVAS */
.misure-offcanvas{
    width: 100% !important;
}
/* RESPONSIVE */


/* md */
@media screen and (min-width: 768px) {
    .sidebar{
        width: 120px;
    }
}
@media screen and (min-width: 991px) {
    .misure-offcanvas{
        width: 700px !important;
    }
}